*.aux
*.log
*.olean
*.tex
*.toc
/.vscode
/Calculemus_Lean.html
/Calculemus_Lean.org
/Descripcion.*
/Licencia
/Makefile
/README.html
/_minted-Calculemus_Lean/
/_target
/auto/
/coq/
/estilo.css
/leanpkg.path
/src/Miscelaneas/Zipperer.lean
/src/zzz.lean
/textos/plantilla.md
/textos/soluciones*
/twitter/
